<div class="example-container mat-elevation-z8">
    <h2>Users List</h2>
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/add-user']">
            <mat-icon>add</mat-icon> User
        </a>
        <a mat-flat-button color="accent" [routerLink]="['/Users-stat']">
            <mat-icon>bar_chart</mat-icon> Statistic
        </a>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="users" class="example-table" matSort matSortActive="firstName" matSortDisableClear
            matSortDirection="asc">

            <ng-container matColumnDef="prefix">
                <th mat-header-cell *matHeaderCellDef>Users prefix</th>
                <td mat-cell *matCellDef="let row">{{row.prefix}}</td>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>Users lastName</th>
                <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
            </ng-container>
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>Users firstName</th>
                <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
            </ng-container>
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Users title</th>
                <td mat-cell *matCellDef="let row">{{row.title}}</td>
            </ng-container>
            <ng-container matColumnDef="jobDescriptor">
                <th mat-header-cell *matHeaderCellDef>Users Job Description</th>
                <td mat-cell *matCellDef="let row">{{row.jobDescriptor}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/details/', row.id]">
            </tr>
        </table>
    </div>
</div>